<p><strong>{{ job.title }}</strong></p>
<p>{{ job.body}}</p>

<ul>
    <li>
        <a href="{{ path('admin_job_approve', { 'id' : job.id, 'apiKey' : moderator.apiKey  }) }}">Approve job post</a>
    </li>
    <li>
        <a href="{{ path('admin_job_mark_spam', { 'id' : job.id, 'apiKey' : moderator.apiKey }) }}">Mark job post as spam</a>
    </li>
</ul>